.form-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 90%; 
    max-width: 400px; 
    text-align: center;
    margin: auto; 
    box-sizing: border-box;
}

.form-container h1 {
    margin: 0 0 20px; 
    font-size: 24px; 
    color: #cdb2f5; 
}

.form-container h2 {
    margin: 0 0 20px; 
    font-size: 18px; 
    color: #cdb2f5; 
}

.form-container label {
    display: block; 
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center; 
    font-size: 20px; 
    color: #cdb2f5; 
}

.form-container input,
.form-container textarea{
    width: 100%; 
    padding: 10px 6px; 
    margin-bottom: 15px; 
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    font-size: 16px;
}

select option {
    width: 100%; 
    padding: 10px 6px; 
    margin-right: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    font-size: 12px;
}
select::-webkit-scrollbar {
    display: none;
}

.form-container button {
    background: #cdb2f5; 
    color: white; 
    border: none; 
    padding: 12px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
    transition: background 0.3s;
    margin: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.button-group button {
    width: 100%;
}

.form-container input[type="submit"]:hover {
    background: #a36cbf;
}

.form-container p {
    margin-top: 15px; 
    font-size: 14px;
}

.form-container a {
    color: #cdb2f5; 
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}
